$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$darkblue: #004A5E;
$gold: #F0BD1C;
$blue: #007E9D;

.jumbotron {
  color: #ffffff;
  text-align: center;
  background-color: $darkblue;
  min-height: 350px;
}

.btn-main {
  margin-top: 20px;
  background-color: $gold;
  color: $darkblue;
  &:hover {
    color: #ffffff;
    background-color: lighten($gold, 5%);
  }
}

.location {
  margin-top: 40px;
  font-size: 2em;
}

// Graph Styles
.graph h3 {
  color: $darkblue;
}
.axis path,
.axis line {
  fill: none;
  stroke: $darkblue;
  shape-rendering: crispEdges;
}

.dot {
  stroke: $gold;
  fill: $gold;
}

.tooltip {
  position: absolute;
  color: #ffffff;
  background-color: $blue;
  pointer-events: none;
  border-radius: 4px;
  padding: 5px;
}
.graph {
  margin-bottom: 40px;
}