<div class="graph container">
<h3>Hourly pressure and windspeed data for {{position}}</h3>
<div class="scatterplot"></div>
<div class="back">
  <a class="btn btn-small btn-main" ng-href="#/">back</a>
</div>
</div>