<div class="jumbotron">
  <h2>Is there a correlation between pressure and windspeed?</h2>
  <a class="btn btn-lg btn-main" ng-click="checkLocation();"><span class="glyphicon glyphicon-ok"></span> check your location</a>
  <br>
  <div class="location">
    <div ng-hide="dataLoaded"><i class="fa fa-3x fa-spinner fa-spin"></i></div>
    <div ng-show="dataLoaded">{{position}}</div>
  </div>
</div>
